@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
	ViewData["Title"] = "Something went wrong";
}
<header class="page-header"><p class="eyebrow">Server error</p><h1>Something went wrong.</h1><p class="lede">The request could not be completed. Please try again shortly.</p><p><a class="button" href="/">Return home</a></p></header>
