bin/
obj/
*.user
*.suo

MudSharp.6.1.ReSharper.user
MudSharp.6.0.ReSharper.user
MudSharp.sln.DotSettings.user
MudSharp.csproj.DotSettings
_ReSharper.MudSharp/
NHibernate/

MudSharp/bin/*
.vs/*
.vs/MudSharp/*
.vs/MudSharp/v15/sqlite3/*
/.idea/.idea.MudSharp
/Publish/*
/UpgradeLog11.htm
