<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net471" />
  <package id="Dapper.Microsoft.Sql" version="0.0.5" targetFramework="net451" />
  <package id="Dapper.Tvp" version="1.0.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net471" />
  <package id="morelinq" version="3.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>